* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.conteiner {
  background-color: rgb(46, 30, 30);
  height: 100vh;
}
.conteiner .header {
  max-width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(2, 0, 36) 21%, rgb(6, 6, 199) 48%, rgb(9, 9, 121) 77%, rgb(0, 212, 255) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.conteiner .header legend {
  color: white;
}
.conteiner .header .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteiner .header label {
  width: 100%;
  color: white;
  font-size: 1.5em;
}
.conteiner .header .input {
  width: 250px;
  margin: 10px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  background-color: rgb(155, 159, 159);
  border: none;
  color: rgb(5, 5, 5);
}
.conteiner .header .input:focus {
  background-color: rgb(248, 243, 243);
}
.conteiner .header .input:last-child {
  width: 70px;
  height: 30px;
  text-align: center;
  font-size: 1em;
  padding: 0px;
  border: 3px white solid;
}
.conteiner .header .input:last-child:active {
  background-color: rgb(241, 9, 9);
}
.conteiner .header .out {
  padding-top: 10px;
  height: 50px;
  width: 50px;
  background-color: #fff;
  font-size: 1.5em;
}
.conteiner .header .button {
  height: 30px;
  width: 50px;
}